[init]
	defaultBranch = main
[user]
	name = Reoul
	email = gurureoul@gmail.com
[color]
	ui = true
[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
